@import "variables";

form {
  padding: .25rem;

  label {
    position: relative;

    span {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: white;
      transition: all 120ms ease;
    }

    input, textarea, select {
      width: 20rem;
      padding: 1rem .75rem .5rem;
      margin: .25rem;
      border: none;
      border-radius: 4px;
      background-color: $input-color;
      color: white;
      font-size: 1em;

      &:focus {
        outline: none;
      }

      &:focus, &:not(:placeholder-shown) {
        + span {
          top: 0.35rem;
          font-size: .65em;
          line-height: 1;
          color: #d9d9d9;
        }
      }
    }
  }
}

button {
  background-color: $button-color;
  border-radius: 4px;
  padding: .5rem;
  margin: .25rem;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    background-color: lighten($button-color, 10%);
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
