@import "~Assets/scss/variables";

.Anime {
  margin: .5rem;
  width: 400px;
  background-color: lighten($background-color, 5%);
  border-radius: 6px;
  flex: 1 1 auto;
  color: white;

  &-container {
    display: flex;
    flex-direction: row;

    img {
      max-width: 120px;
      max-height: 168px;
      border-radius: 6px 0 0 6px;
    }
  }

  &-info-container {
    display: flex;
    flex-direction: column;
    margin: .25rem .5rem;

    h1 {
      margin: 0;
      font-size: 1rem;
      line-height: 1;
    }

    h2 {
      margin: .25rem 0 0;
      font-size: .9rem;
      color: rgba(255, 255, 255, .40)
    }

    p {
      margin: 0;
    }
  }
}
