@import "~Assets/scss/variables";
@import "../assets/scss/common";

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  > main, > div {
    padding: .5rem 0 .5rem .5rem;
    overflow-y: auto;
  }
}

.App-logo {
  height: 2rem;
  width: 2rem;
  padding: .5rem;
}

.App-header {
  background-color: lighten($background-color, 10%);
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;

  span, a {
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin: 1rem .5rem;
    text-transform: capitalize;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  span:hover, a:hover {
    color: $link-color;
  }
}

.App-link {
  color: $link-color;
}
